.game-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use viewport height */
    width: 100%; /* Use full width */
    background-color: #41637e;
    }
