

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #24292D;
    }


@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

.start-button {

    position: middle;
    margin-top: 20vh; 
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    font-size: 3vh;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Press Start 2P', sans-serif;
    animation: pop 2.5s ease-in-out infinite;     
    

}
.start-button:hover {
    
    background-color: #45a049;
}
.main-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #24292d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px; /* Adjust padding as needed */
    background-color: #24292d;
    border-radius: 10px;
    width: 100%; /* Use percentage width */
    max-width: 1080px; /* Set a maximum width */
    margin: -180px auto 0 auto; /* Center the main container and reduce bottom margin */-webkit-user-select: none;
    margin-bottom: -500px auto 0 auto; /* Center the main container and reduce bottom margin */-webkit-user-select: none;
    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-area {
    z-index: 2;
    position: relative;
    height: 50vh; /* Use viewport height */
    width: 100%; /* Use percentage width */
    max-width: 1920px; /* Set a maximum width */
    min-height: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background: url('../assets/mole-bg.png') no-repeat center center;
    background-size: cover;
    margin: 0 auto; /* Center the game area */
    cursor: url('../assets/custom-cursor.png'), auto; /* Specify the custom cursor */
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mole {
    position: absolute;
    cursor: pointer;
    z-index: 10; /* Ensure the mole is on top */
    transition: transform 0.2s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

.mole:hover {
    transform: scale(1.2);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

.beaver-image {
    width: 100px; /* Adjust the width as needed */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

.game-title {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vh;
    font-family: 'Press Start 2P', sans-serif;;
    color: white;
}

.game-score {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vh;
    font-family: 'Press Start 2P', sans-serif;;
    color: white;
}

.restart-button {
    position: absolute;
    top: 30px;
    size: 1vw 1vh;
    left: 20px;
    padding: 1vw;
    font-family: 'Press Start 2P', sans-serif;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: #d32f2f;
}

.volume-button {
    position: absolute;
    size: 2vw 2vh;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.volume-button:hover {
    color: #ccc;
}

/* Add this style for the second button */
.volume-button {
    position: absolute;
    font-size: 1vh; /* Adjust font size for text */
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px; font-family: 'Press Start 2P', sans-serif;
}

.volume-button svg {
    font-size: 2vw 2vh; 
}

.volume-button:hover {
    color: #ccc;
}

/* Adjust the second button position */
.volume-button + .volume-button {
    margin-top: -1vh; /* Add spacing between the buttons */
}


