@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #24292D;
}

h2 {
    color: white;
}

.typing-container {
    height: 90px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}




button {
    cursor: none;
}
.cursor {
    z-index: 99;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}

p {
  color: white;
  font-family: 'Poppins';
  margin-top: 50px;
  font-size: 1.4em;
  
  a {
    color: teal;
  }
}

body, html {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: white;
}

.main-badge, .experience-badge {
    background-color: #4587be;
    color: black;
    font-size: 0.75em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em 0.75em;
    border-radius: .5em;
}
.main-badge {
	font-size: 18px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: #26C485 !important;
	color: white;
	font-weight: lighter !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vertical-timeline-element--work {
    margin-bottom: 2em;
}

.vertical-timeline-element-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #24292D;
}

.vertical-timeline-element-subtitle {
    font-size: 1em;
    margin-bottom: 0.5em;
    color: #24292D;
}

.vertical-timeline-element-date {
    color: hsl(0, 0%, 100%);
    font-size: 20px !important;
}


.vertical-timeline-element-content p {
    color: #24292D;
}

.vertical-timeline-element-content .badge {
    background-color: #020202;
    color: white;
}



.experience-icon {
    margin-top: 8px;
    
    font-size: 1.5em; /* Adjust the size as needed */
  }
  
  #clients {
    padding: 20px 0;
    color: white; /* Ensure text is visible */
    margin-bottom: 120px;
}





